{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/safina-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SAFINA</h1>
            <span class="subheading">ITS TIME TO FACE HIGH WAVES</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


      <!-- TODO: fetch it using FOR loop from the database -->
    {% for post in post %}
      <div class="post-preview">
          <a href="/post/{{post.Slug}}">
            <h2 class="post-title">
              {{post.Title}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">SAIF</a>
            {{post.Date}}</p>
        </div>
        {{post.Content}}
        <hr>
        </li></a>
        {% endfor %}



       
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous </a>
          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}